* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    url("./images/bg1.png");
  background-repeat: no-repeat;
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.35;
  position: relative;
}

h1 {
  display: block;
  font-size: 50px;
  /* font-weight: 700; */
  white-space: nowrap;
  color: #ffffff;
}

.avatar {
  position: absolute;
  bottom: -70px;
  left: 150px;
  border: 12px solid #fff;
  border-radius: 50%;
  display: flex;
}

.avatar > img {
  width: 100%;
}

main {
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
}

section {
  padding: 5rem 0;
}

.part1 > h5 {
  font-size: 12px;
  color: #4579f5;
}

.part1 > h2 {
  font-size: 40px;
  font-weight: bold;
  color: #273b60;
  margin: 12px 0;
}

.part1 > p {
  font-size: 20px;
  line-height: 2;
  margin-top: 0;
  color: #4e535c;
  font-weight: 500;
}

.btn-container {
  display: flex;
  gap: 18px;
  font-size: 12px;
}

.startnow,
.contact {
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #377dff;
  font-weight: 700;
}

.startnow {
  background-color: #377dff;
  color: #fff;
}

.contact {
  background-color: #fff;
  color: #377dff;
}

.part2 {
  display: grid;
  grid-template-columns: repeat(3, 198px);
  grid-template-rows: repeat(2, 220px);
  gap: 24px;
}

.card {
  box-shadow: 8px 8px 24px #090e141a;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selected {
  box-shadow: 8px 8px 24px #090e1440;
}

.card > img {
  width: 96px;
  height: 96px;
}

.card > div {
  font-size: 20px;
  color: #273b60;
  font-weight: bold;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body {
    width: 95%;
  }

  header {
    height: 150px;
    background-position-x: center;
    background-position-y: 40%;
  }

  h1 {
    font-size: 0px;
  }

  .avatar {
    transform: translate(-20%, 15%);
    width: 150px;
    height: 150px;
  }

  main {
    flex-direction: column;
    padding: 0;
  }

  section {
    padding: 3rem 0;
  }

  .part1 {
    margin: 0 auto;
  }

  .part2 {
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(6, 180px);
    place-content: center;
  }

  .card {
    align-items: center;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 90%;
  }

  .avatar {
    transform: translate(-20%, 15%);
    width: 150px;
    height: 150px;
  }

  main {
    flex-direction: column;
    padding: 0;
  }

  section {
    padding: 3.5rem 0;
  }

  .part2 {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 180px);
  }
}

@media screen and (min-device-width: 1366px) {
  body {
    width: 100%;
  }
}
